<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace绑定一个对应的mapper接口 -->
<mapper namespace="com.pro.dao.UserMapper">
    <!--    标签相当于通过实现类重写方法-->
    <select id="getUserList" resultType="com.pro.pojo.User">
        select * from mybatis.user
    </select>
    <select id="getUserById" resultType="com.pro.pojo.User" parameterType="int">
        select * from mybatis.user where id=#{id}
    </select>
    <insert id="addUser" parameterType="com.pro.pojo.User">
        insert into mybatis.user (id, name ,pwd) values (#{id},#{name},#{pwd})
    </insert>
    <insert id="addUserMap" parameterType="map">
        insert into mybatis.user (id, name, pwd) values (#{userId},#{userName},#{userPwd})
    </insert>
</mapper>